* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding-left: 50px;
    padding-right: 50px;
}


.navbar {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding-left: 120px;
    padding-right: 120px;
    height: 100px;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    font-size: 100%;
    transition: 0.2s;
    font-size: x-large;
}
.section1 {
    font-size: small;
}
.navbar a {
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;

}
.home {
    border: none;
    color: white;
    background-color: #ED563B;

}
.navbar-logo {
    color:white;
    font-size: larger;
}
.navbar-studio {
    color: #ED563B;
}
.navbar button {
    color: white;
    border: none;
    background-color: #ED563B;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.hero-section {
    height: 100vh;
    
}

.hero-overlay {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    color: white;
    display: flex; 
    justify-content: center; align-items: center;
    font-size: smaller;   
    
}

.hero-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin: 0;
    padding: 0;    
}

.choose-overlay {
    background-color: white;
    justify-content: center; text-align: center;
    font-size: x-large;
    margin-top: 10%;
    font-size: 150%;
}
.program-overlay {
color: #ED563B;
}
.line-image {
    padding-right: 48%;
    padding-left: 48%;
    padding-top: 1%;
}
.each-overlay {
    justify-content: center; text-align: center;
    color: darkslategrey;
    font-size: medium;
}
.image-overlay {
    justify-content: space-around;
    padding-right: 35%;
    padding-left: 10%;
    margin-top: -10%;
}
.basic-overlay {
    justify-content: center; text-align: center;
    text-align: start;
    padding-left: 20%;
    margin-top: 10%;
    padding-top: -1;

}

.line-container {
    display: flex;
    gap: 40px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 45px;
    
}


.line-overlay {
    display: flex;
    color: darkgray;
    text-decoration: solid;

}

.line-overlay img {
    height: 100px;
    width: 100px;
    
}

.line-overlay h4 {
    font-weight: bold;
    padding-left: 20px;
    font-size: larger;
    color: black;
    
}


.line-overlay a {
    color: #ED563B;
    padding-left: 20px;
    text-decoration: none;    
}


p {
    padding-left: 20px;   
}

.navbar-think {
    color: #ED563B;
}
.navbar-today {
    color: #ED563B;
}
.navbar-training {
    font-size: 15px;
}
.navbar-button {
    color: white;
    background-color: #ED563B;
    border: none;
    padding: 15px;
    margin-top: 10px;
}
.navbar-easy {
    font-weight: bold;
    color: white;
    font-size: 80px;
}
.navbar-become {
    color: white;
    background-color: #ED563B;
    border: none;
    padding: 15px;
    margin-left: 100px;   
    justify-content: center; text-align: center;
}
.navbar-gym {
    color: #ED563B;
}
h2 {
    font-size: smaller;
    justify-content: center; text-align: center;
}
.dont-overlay{
    background-image: url(../img/cta-bg.jpg);
    padding-top: 120px;
    margin-top: 50px;
    justify-content: center; text-align: center;
    text-decoration: solid;
    font-size: large;
    padding-bottom: 120px;
    color: white;
    font-weight: bold;
}
.think {
    color: #ED563B;
    font-size: x-large;
    font-weight: bold;

}
.today {
    color: #ED563B;
    font-size: x-large;
    font-weight: bold;
}
.training {
    font-size: medium;
    font-weight: bold;
}
.member {
    background-color: #ED563B;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}
.our {
    color: black;
    padding-top: 10%;
    justify-content: center; text-align: center;
    font-size: larger;
    font-weight: bold;
}
.classes {
    color: #ED563B;
    font-size: larger;
    font-weight: bold;
}
.line2 {
    padding-left: 48%;
    padding-top: 10px;
}
.here {
    justify-content: center; text-align: center;
    font-size: medium;
    padding-top: 10px;
}

.third{
    display: flex;
    width: 100%;
    gap: 40px;
    padding: 50px;
}

.first{
    display:flex;
    background-color: white;
    border-radius: 5px;
    width: 300px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center; text-align: center;
    padding-top: 40px;
    font-weight: bold;
}
.first-container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    

}
.second{
    margin-top: 40px;
   margin-bottom: 40px;
}
.view {
    background-color: #ED563B;
    color: white;
    border: none;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    font-weight: bold;
}
.schedules {
    background-color: #ED563B;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    
}
.trainings {
    color: #ED563B;
    font-size: small;
    text-align: left;
    padding-bottom: 10px;
    
}
.expert11 {
    padding-top:100px;
    font-size: larger;
    
}
.class {
    font-weight: bold;
    font-size: x-large;
    margin-top: 10px;
}
.schedules-overlay {
    display: flex;
    justify-content: center; text-align: center;
}
.classes-section {
    height: 100%;
}
.classes-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: larger;   
}
.schedule {
    color: #ED563B;
    border: none;
    font-weight: bold;
}
.class2 {
    font-size: larger;
    font-weight: bold;
}
.class3 {
    font-size: small;
    padding-top: 20px;

}
.monday {
    font-size: medium;
    padding-top: 40px;
}
.monday2 {
    color: #ED563B;
    border: none;
}
.expert2 {
    padding-top: 10%;
    color: black;
    font-size: larger;
}
.training2 {
    color: #ED563B;
    font-size: large;
    text-align: left;
    padding-bottom: 10px;
}
.trainings3{
    color: #ED563B;
    font-size: small;
    text-align: left;
} 
.trainings4 {
    color: #ED563B;
    font-size: small;
    text-align: left;
    padding-bottom: 20px;
}
.Bringing {
    justify-content: center; text-align: center;
    color: darkgrey;
}
.trainer {
    margin-top: 40px;
   margin-left: 50px;
   margin-bottom: 40px;
   justify-content: center; text-align: center;
    

}
.trainer-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-left: 40px;
    
    
}
.last {
    display:flex;
    background-color: white;
    border-radius: opx;
     width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 50px;
    justify-content: center; text-align: center;
    padding-top: 80px;
    font-weight: bold;
    flex-direction: column;
    padding-right: 20px;
}
.sub1 {
    text-align: left;
    font-weight: lighter;
    color: dimgrey;
}
.sub2 {
    text-align: left;
    font-weight: lighter;
    color: dimgrey;
}
.sub3 {
    text-align: left;
    font-weight: lighter;
    color: dimgrey;

}

.sub4 {
    text-align: left;
    padding-top: 10px;
}
.sub5 {
    text-align: left;
    padding-top: 10px;
}
.sub6 {
    text-align: left;
    padding-bottom: 10px;
}
.hero-section5 {
   
    display: flex;
    gap: 14px;
    
    
}
.hero-overlay5 {
    display: flex;
    flex-direction: column;
    color: white;
    display: flex; 
    justify-content: center; align-items: center;
    font-size: xx-large;   
    background-image: url(../img/contact-bg.jpg);
    width: 50%; 
}
.form1 {
    font-size: large;
    margin: 5px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
    padding-top: 15%;
    padding-bottom: 5%;
    box-sizing: border-box;
    border-radius: 5px;
    
    
}
input {
    font-size: small;
    padding-bottom: 10px;
    
   
}
.label {
    font-size: small;
   
}

.message {
    font-size: large;
    width: 100%;
    
   
    
}
.send {
    color: white;
    border: none;
    background-color: #ED563B;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.Yourname {
    display: flex;
    text-align: center; justify-content: space-around;
    padding-right: 40px;
    gap: 4px;
    padding-bottom: 20px;
    
}
.Subject {
    padding-right: 15px;
    width: 100%;
    padding-bottom: 20px;
}
.message3 {
    padding-bottom: 100px;
    width: 100%;
    
}
.subject3 {
    
    width: 100%;
}
.map {

    width: 50%;
}
.Yourname3 {
    padding-right: 10px;
    padding-bottom: 20px;
}


/* javascript */

.white-nav{
    background-color: whitesmoke;
    height: 80px;
}

.white-nav a{
    color: black;
}

.white-nav h5{
    color: black;
}